//Landing Page Style
.gradient {
  background: linear-gradient(90deg, #40b080 0%, #35495e 100%);
}

.svg {
  text-align: center;
  margin: auto;
  width: 30px;
  height: 30px;
}

#icon-check .circle {
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

#icon-check .check {
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

.logo {
  font-family: monospace;
}

//Landing Page Style End

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center {
  display: flex;
  justify-content: center;
}

//
//.nav {
//  display: flex;
//  list-style: none;
//  padding: 15px 0;
//  margin: 0;
//  justify-content: flex-end;
//  background: #F5F8FA;
//  border-bottom: 1px solid lightgrey;
//  margin-bottom: 24px;
//}
//
//.nav a {
//  color: #636b6f;
//  padding: 0 25px;
//  font-size: 14px;
//  font-weight: 600;
//  letter-spacing: .1rem;
//  text-decoration: none;
//  text-transform: uppercase;
//}

//Auth Pages
label {
  display: block;
  margin-bottom: 4px;
}

.login-heading {
  margin-bottom: 16px;
}

.form-control {
  margin-bottom: 24px;
}

.mb-more {
  margin-bottom: 42px;
}

.login-form {
  max-width: 500px;
  margin: auto;
}

.login-input {
  width: 100%;
  font-size: 16px;
  padding: 12px 16px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.btn-submit {
  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  font-weight: bold;
  background: #60BD4F;
  color: white;
  border-radius: 3px;
  cursor: pointer;

  & :hover {
    background: darken(#60BD4F, 10%);
  }

  & :disabled {
    background: lighten(#60BD4F, 25%);
    cursor: not-allowed;
  }

}

.server-error {
  margin-bottom: 12px;
  font-size: 16px;
  padding: 10px 16px;
  color: #a94442;
  background: #F3DEDE;
  border-radius: 4px;
}

.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  margin-bottom: 12px;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 4px;
}

.form-error {
  font-size: 16px;
  color: #a94442;
}

.input-error {
  border: 1px solid red;
}

.page-wrapper {
  animation-duration: 0.2s;
}

//CSS Spinner
.lds-ring-container {
  position: absolute;
  right: 50%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  //margin:6 px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}